*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right top,#23be3f,#c657ad);

}
.btn{
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: center;
    position: relative;
}
h1{
    text-align: center;
    position: relative;
    top: -9rem;
    font-size: 4rem;
    font-family: "Urbanist", sans-serif;
}
.locate{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    color: #f0f0f0;
    font-weight: 600;
    letter-spacing: 1.2px;
}
#btn1{
    background-color: #a8eb12;
}
#btn2{
    background-color: #051937;
    color: #f0f0f0;
}
button{
    padding: .8rem 2.4rem;
    font-size: 1.2rem;
    border-radius: 5rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
    transition: .3s ease;
}
button:active{
    scale: .9;
}
.btnDown{
    scale: .9;
}
h2{
    font-size: 1.2rem;
    text-align: center;
    color: #f0f0f0;
    margin: 2.4rem 0 1.2rem 0;
}
.copyCode{
    background-color: #f0f0f027;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    padding: .5rem 0 .5rem 1rem;
    filter: blur(70%);
    border-radius: .5rem;
    border-left: 2px solid #f0f0f0;
}